/* Enlace a la fuente Poppins Bold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Contenedor principal para la tabla y el total */
.cart {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.cart table {
    width: 65%; /* La tabla ocupar치 el 65% del ancho del contenedor */
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart > div {
    width: 26%; /* El total ocupar치 el 30% del ancho del contenedor */
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

.cart h3 {
    margin-bottom: 30px;
    font-size: 1.25rem;
    text-transform: uppercase;
}

/* Estilos para la tabla del carrito */
.cart table th, .cart table td {
    padding: 15px;
    text-align: left;
}

/* Ajustes de ancho para las columnas de precio y subtotal */
.cart table th.price, .cart table th.subtotal, 
.cart table td.price, .cart table td.subtotal {
    width: 20%; /* Aumentar el ancho de las columnas de precio y subtotal */
}

.cart table th.amount, .cart table td.amount {
    width: 15%; /* Asignar un ancho a la columna de cantidad */
}

.header_table th {
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Aplicar negrita */
}

.details_table td {
    font-size: 0.875rem;
    color: #555;
}

.details_table .product {
    display: flex;
    align-items: center;
    gap: 10px;
}

.details_table .product img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.details_table .amount {
    display: flex;
    align-items: center;
    gap: 10px;
}

.details_table .amount p {
    margin: 0;
    font-size: 1rem;
}

.amount button {
    border: none;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.amount button:hover {
    background-color: #fc6625;
    color: #fff;
}

/* Precios y subtotales */
.details_table .price, .details_table .subtotal {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    white-space: nowrap; /* Evitar que los precios se corten */
}

.details_table .subtotal {
    color: #fc6625; /* Resaltado en el color principal */
}

/* Caja de totales */
.total {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.total p:nth-child(2) {
    color: #fc6625; /* Resaltado en el color principal */
}

/* Bot칩n de compra */
.cart > div button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 40px;
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cart > div button:hover {
    background-color: #fc6625;
    cursor: pointer;
}

.cart > div button i {
    font-size: 1.25rem;
}

/* Ruta de navegaci칩n */
.ruta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 40px;
}

.ruta h2 {
    padding: 0 16px;
    font-size: 1.125rem;
    color: #777;

    transition: color .3s ease;
}
.ruta h2:hover {
    color: #fc6625;
    cursor: pointer;
}

.ruta i {
    font-size: 1.25rem;
    color: #777;
}

@media (prefers-color-scheme: dark) {
    .header_table th {
        background-color: #777;
    }
    .cart > div {
        background-color: #777;
    }
    .total p:nth-child(2) {
        color: #fff;
    }
}
