@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #fc6625;
    color: #fff;
    padding: 20px;
    margin: 0;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="url"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #fc6625;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e55b1e;
}

h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #fc6625;
}

#banners {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#banners div {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banners img {
    max-width: 200px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

#banners button {
    margin-top: 10px;
    background-color: #e55b1e;
}

#banners button:hover {
    background-color: #d45d1d;
}

#message {
    text-align: center;
    font-weight: bold;
    color: #fc6625;
}

.banner-management {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-management .form {
    display: flex;
    width: 500px;
}

.banner-management input {
    margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #4d4d4d;
        color: #f4f4f4;
    }
    #banners div {
        background: #333;
        border: 1px solid #555;
    }
    form {
        background: #333;
    }
}