/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
main {
    width: 100%;
    max-width: 1254px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 43px; /* Añade esta propiedad para separar secciones */
}

/* Estilos para las listas de navegación */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li a {
    color: #777777;
    transition: color 0.3s ease, font-weight 0.3s ease;
}
li a:hover {
    color: #000;
    font-weight: 700;
}

.bold {
    color: #000;
}

/* Estilos de la sección de cuenta y manejo */
.account, .details {
    display: flex;
    flex-direction: column;
}

/* Sección my_account y manage */
.my_account, .manage {
    width: 100%;
    margin-bottom: 20px;
}
.my_account h5, .manage h5 {
    font-size: 1rem;
    color: #666666;
}
.my_account li, .manage li {
    border-bottom: 1px solid #929191;
    padding: 10px 0;
}

/* Estilos para la sección de detalles */
.details {
    width: 100%;
}
.details label, .details input {
    font-size: 1rem;
    color: #777777;
    outline: none;
}

.icon_text {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.icon_text i {
    margin-right: 10px;
    font-size: 3rem;
    color: #d3d3d4;
}
.icon_text h3 {
    color: #000;
    font-size: 1.5rem;
}

.name_surname {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name_surname div {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.name, .surname {
    width: 100%;
    height: 48px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #777777;
    padding-left: 14px;
}

.display_name, .email {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.display_name input, .email input {
    width: 100%;
    height: 48px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #777777;
    padding-left: 14px;
}

.display_name p {
    font-size: 0.875rem;
    color: #777777;
}

.stared {
    color: red;
}

/* Estilos para cambiar contraseña */
.change_pass {
    width: 100%;
    border: 2px solid #777777;
    padding: 20px;
    margin-bottom: 20px;
}

.change_pass div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.change_pass input {
    height: 48px;
    border-radius: 5px;
    border: 1px solid #777777;
    padding-left: 14px;
    font-size: 1rem;
}

.change_pass h3 {
    margin-bottom: 12px;
    font-size: 1rem;
}

/* Estilos para el botón */
.account form button {
    padding: 13px 30px;
    font-size: 1.125rem;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 200px; /* Limitar el ancho máximo del botón a 200px */
}
.account form button:hover {
    background-color: #fc6625;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    display: none; /* Oculto por defecto */
}

.message.success {
    background-color: #4CAF50; /* Verde */
    color: white;
}

.message.error {
    background-color: #f44336; /* Rojo */
    color: white;
}

/* Media Queries para pantallas pequeñas */
@media (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
        gap: 43px; /* Mantén la separación entre secciones en pantallas grandes */
    }

    .my_account, .manage {
        width: 265px;
    }

    .details {
        width: calc(100% - 308px);
    }

    .name_surname {
        flex-direction: row;
        gap: 20px;
    }

    .name, .surname, .display_name input, .email input {
        width: 100%;
    }
}