@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'IBM Plex Sans', 'Poppins', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #fc6625;
}

h1 {
    background-color: #fc6625;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}

.categorias-container {
    text-align: center;
    margin-bottom: 20px;
}

.categorias-container button {
    background-color: #fc6625;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.categorias-container button:hover {
    background-color: #e55620;
}

.productos-container {
    text-align: center;
}

.productos-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.productos-container th, .productos-container td {
    border: 1px solid #ddd;
    padding: 12px;
}

.productos-container th {
    background-color: #fc6625;
    color: white;
}

.productos-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.productos-container tr:hover {
    background-color: #ddd;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

form button {
    background-color: #fc6625;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e55620;
}