footer * {
    color: #fff;
    text-decoration: none;
}

.contact_us {
    height: 420px;
    background-color: #fc6625;
}

.contact_us a {
    width: 300px;
    display: flex;
    align-items: center;
    margin: 20px 0 0 80px;
    transition: text-shadow 0.3s ease-in-out;
}

.contact_us a:hover i, .contact_us a:hover p {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.contact_us p {
    font-size: 1rem;
    transition: text-shadow 0.3s ease-in-out;
}

.contact_us h3 {
    padding: 70px 0 0 80px;
    font-size: 1.25rem;
}

.contact_us i {
    font-size: 1.5rem;
    padding-right: 10px;
    transition: text-shadow 0.3s ease-in-out;
}